* {
  box-sizing: border-box; }

.input {
  width: 100%; }
  .input .title {
    background: #37383b;
    color: #fff;
    padding: 0.1rem 0;
    font-size: 0.2rem;
    position: relative;
    width: 100%;
    line-height: 1; }
    .input .title .edit-input {
      position: absolute;
      color: #ebecef;
      right: 0.1rem;
      text-decoration: underline;
      bottom: 0;
      font-size: 0.16rem;
      font-weight: normal;
      line-height: 0.4rem; }
  .input .sub-title {
    font-size: 0.16rem;
    line-height: 1;
    color: #888888;
    margin: 0.12rem 0;
    padding-left: 0.15rem;
    text-align: left; }
  .input .container {
    background: #fff;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin: 0.08rem 0 0.08rem 0; }
    .input .container .unordered-list {
      font-size: 0.16rem;
      position: relative;
      text-align: left;
      height: 0.36rem;
      line-height: 0.36rem;
      border: 0px solid #efeff4;
      border-top-width: 1px;
      padding-left: 0.1rem;
      margin-left: 0.15rem; }
      .input .container .unordered-list:first-child {
        border-top-width: 0px; }
      .input .container .unordered-list .el-icon-arrow-right {
        font-size: 0.16rem;
        position: absolute;
        right: 0.15em;
        bottom: 0.10rem;
        color: #969696; }
    .input .container .wraper {
      position: relative;
      margin: 0 0 0 0.12rem;
      font-size: 0.16rem;
      border: 0px solid #e5e5e5;
      border-bottom-width: 1px;
      overflow: hidden; }
      .input .container .wraper label {
        width: 25%;
        letter-spacing: -0.01rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.16rem;
        height: 0.42rem;
        line-height: 0.42rem;
        display: inline-block;
        color: #000000;
        padding-left: 0.05rem;
        text-align: left;
        position: absolute;
        left: 0; }
    .input .container .wraper:last-child {
      border-bottom-width: 0px; }
    .input .container .wraper > div.el-input, .input .container .wraper > div.el-select, .input .container .wraper > .el-textarea {
      width: 75%;
      margin-left: 25%; }
    .input .container .el-input .el-input__inner, .input .container .el-input .el-textarea__inner, .input .container .el-select .el-input__inner, .input .container .el-select .el-textarea__inner, .input .container .el-textarea .el-input__inner, .input .container .el-textarea .el-textarea__inner {
      border: 0px; }
    .input .container .el-input .el-input__inner, .input .container .el-select .el-input__inner, .input .container .el-textarea .el-input__inner {
      padding: 0.03rem 0.1rem;
      padding-right: 0.5rem; }
  .input .wraper .el-icon-check {
    background: #09bb07;
    color: white;
    border-color: #09bb07; }
    .input .wraper .el-icon-check:before {
      padding-right: 0.04rem;
      padding-top: 0.01rem; }
  .input .wraper .el-icon-close {
    background: #e94f4f;
    color: white;
    border-color: #e94f4f; }
    .input .wraper .el-icon-close:before {
      padding-top: 0.01rem; }
  .input .wraper .el-select {
    width: 100%;
    display: inline-block; }
  .input .wraper .el-iput {
    border: 0px;
    -webkit-tap-highlight-color: rgba(191, 203, 217, 0.25);
    transition: 0.5s cubic-bezier(0.09, 0.7, 0.4, 0.93); }
    .input .wraper .el-iput .el-input__inner {
      height: 0.42rem;
      font-size: 0.16rem; }
    .input .wraper .el-iput:active {
      background-color: rgba(191, 203, 217, 0.25); }
  .input .wraper i {
    box-sizing: content-box;
    opacity: 0;
    display: block;
    width: 0.13rem;
    height: 0.13rem;
    position: absolute;
    bottom: 0.08rem;
    right: 0.25rem;
    transition: 0.3s linear;
    padding: 0.06rem;
    border-radius: 50%;
    width: 0.13rem;
    font-weight: normal;
    height: 0.13rem; }
    .input .wraper i:before {
      position: absolute;
      width: 0.13rem;
      height: 0.13rem;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      font-size: 0.13rem;
      line-height: 1;
      display: block; }
  .input .wraper .el-input .el-input__inner {
    font-size: 0.16rem;
    height: 0.42rem; }
  .input .el-select .el-input .el-input__icon {
    display: none; }
  .input .validate i {
    opacity: 0.9; }
  .input .validate .valid-border .el-input__inner {
    border-color: #09bb07; }
  .input .validate .error-border .el-input__inner {
    border-color: #e94f4f; }

.input .el-button + .el-button {
  margin-left: 0; }
.input .el-input.is-disabled .el-input__inner {
  background-color: #fff;
  border-color: #fff;
  color: #777;
  cursor: not-allowed; }
.input .el-button--success.is-disabled, .input .el-button--success.is-disabled:focus, .input .el-button--success.is-disabled:hover {
  color: #dbf4db;
  cursor: not-allowed;
  background-color: #9de49c;
  border-color: #9de49c; }
.input .el-button--success, .input .el-button--success:focus, .input .el-button--success:hover {
  color: #fff;
  cursor: not-allowed;
  background-color: #09bb07;
  border-color: #9ad499; }
.input .el-button--danger, .input .el-button--danger:focus, .input .el-button--danger:hover {
  background: #e94f4f;
  border-color: #e94f4f; }
.input .el-button--warning, .input .el-button--warning:focus, .input .el-button--warning:hover {
  color: #fff;
  background-color: #ffbe00;
  border-color: #ffbe00; }
.input .el-button--warning.is-disabled, .input .el-button--warning.is-disabled:focus, .input .el-button--warning.is-disabled:hover {
  color: #f4efdb;
  cursor: not-allowed;
  background-color: #fbdf8c;
  border-color: #fbdf8c; }
.input .el-button {
  padding: 0.1rem 0.15rem;
  font-size: 0.16rem;
  height: 0.44rem;
  width: 90%;
  margin-top: 0.15rem; }
.input .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #09bb07;
  border-color: #09bb07; }
.input .el-checkbox + .el-checkbox {
  margin-left: auto;
  margin-right: auto; }
.input .el-checkbox {
  display: block;
  width: 80%;
  margin: 0.05rem auto;
  text-align: left; }

div.el-loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent; }
  div.el-loading-mask .el-loading-spinner {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.06rem; }
    div.el-loading-mask .el-loading-spinner .circular {
      margin-top: 0.3rem; }
    div.el-loading-mask .el-loading-spinner .path {
      stroke: #fff; }
    div.el-loading-mask .el-loading-spinner .el-loading-text {
      color: #fff;
      font-size: 0.14rem;
      margin-top: 0.1rem; }

.router-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; }
  .router-view .sub-top-nav {
    position: absolute;
    top: 0;
    z-index: 99; }
    .router-view .sub-top-nav .tabs-container {
      display: flex; }
      .router-view .sub-top-nav .tabs-container * {
        border: 1px solid red; }
      .router-view .sub-top-nav .tabs-container .tab {
        width: 100%;
        height: 0.5rem;
        background: #fafafa;
        color: #353535;
        font-size: 0.16rem;
        line-height: 0.5rem;
        border: 0px #cccccc solid;
        border-bottom-width: 1px;
        border-left-width: 1px; }
        .router-view .sub-top-nav .tabs-container .tab:first-child {
          border-left-width: 0px; }
      .router-view .sub-top-nav .tabs-container .active {
        background: #eaeaea; }
  .router-view .sub-router-view-container {
    overflow: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0.9rem; }

.record-container {
  position: relative;
  border: 1px solid #e5e5e5;
  border-width: 1px 0px;
  height: 0.7rem;
  width: 100%;
  background: #fff;
  margin: 0.1rem 0; }
  .record-container .avator {
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid #c9c9c9;
    position: absolute;
    left: 0.15rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 3px; }
    .record-container .avator .icon-avator {
      font-size: 0.4rem;
      color: #c9c9c9;
      line-height: 0.5rem; }
  .record-container .record-brief {
    color: #aaaaaa;
    margin-left: 0.75rem; }
    .record-container .record-brief .record-brief-up {
      height: 0.18rem;
      margin-top: 0.15rem;
      text-align: left; }
      .record-container .record-brief .record-brief-up .record-name, .record-container .record-brief .record-brief-up .record-lt {
        font-size: 0.18rem;
        color: #000;
        line-height: 0.18rem;
        letter-spacing: 0.01rem; }
      .record-container .record-brief .record-brief-up .record-time, .record-container .record-brief .record-brief-up .record-rt {
        font-size: 0.12rem;
        line-height: 0.18rem;
        position: absolute;
        right: 0.3rem; }
    .record-container .record-brief .record-brief-down {
      margin-top: 0.1rem;
      text-align: left; }
      .record-container .record-brief .record-brief-down .record-phone, .record-container .record-brief .record-brief-down .record-description, .record-container .record-brief .record-brief-down .record-ld {
        font-size: 0.14rem;
        line-height: 0.14rem; }
      .record-container .record-brief .record-brief-down .record-status, .record-container .record-brief .record-brief-down .record-rd {
        position: absolute;
        right: 0.3rem; }
  .record-container .el-icon-arrow-right {
    position: absolute;
    font-size: 0.15rem;
    height: 0.15rem;
    color: #aaaaaa;
    right: 0.1rem;
    margin: auto 0;
    top: 0;
    bottom: 0; }

.list-bottom {
  position: relative;
  font-size: 0.14rem;
  margin-bottom: 0.1rem; }

.list-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  margin-top: 0.9rem;
  height: auto; }

.back-enter-active, .forward-enter-active, .samelevel-enter-active {
  transition: transform 3s; }

.back-leave-active, .forward-leave-active {
  transition: transform 3s;
  position: absolute; }

.back-enter {
  transform: translateX(-100%); }

.back-leave-to {
  transform: translateX(100%); }

.forward-enter {
  transform: translateX(100%); }

.forward-leave-to {
  transform: translateX(-100%); }

/*# sourceMappingURL=input.css.map */
