$iconSize:0.13rem;
// $inputHeight:0.42rem;
// $labelHeight:0.42rem;
// $dangerColor:#e94f4f;

$validColor:#09bb07;
$successColor:#09bb07;
$inputFontSzie:0.16rem;
$inputSize:0.14rem;
$underlineColor:#e5e5e5;
$errColor:#e94f4f;
$typingColor:#97a7be;
$indexBackgroundColor:#f0f0f0;
$successDisabledColor:#96bdf8;
$mainColor:#5494f3;
$disabledColor:#777;

*{
	box-sizing:border-box;
}
.more-loan{
	margin: 0.1rem;
	font-size: 0.14rem;
}
.fixed-title-page{
	padding-top: 0.44rem;
	padding-bottom: 0.15rem;
}
.section-title{
	background: #fff;
	border:0px solid #c3c3c3;
	border-bottom-width: 1px;
	text-align: left;
	padding-left: 0.3rem;
	color:#757575;
	position: relative;
	height: 0.46rem;
	line-height: 0.46rem;
	font-size: 0.16rem;
	&:before{
		content:'';
		width: 0.05rem;
		height: 0.16rem;
		border-radius: 2px;
		background:#5494f3;
		position: absolute;
		left: 0.15rem;top:0;bottom: 0;
		margin:auto 0;
	}
}

.identification{
	$borderColor:#c3c3c3;
	$cellHeight:1.12rem;
	$cellWidth:1.25rem;
	$itemNameColor:#363636;
	$itemIconColor:#8f8e94;
	$bgColor:#fff;
	.container{
		background: $bgColor;
		.cell{
			background: transparent;
			position: relative;
			padding-top: 0.31em;
			overflow: visible;
			.item-icon{
				margin:0.2rem 0 0;
				
				.icon{
					height: 0.33rem;
				}
				i{
					font-size:0.24rem;
					line-height: 1.4;
					color:$itemIconColor;
				}
			}
			.item-name{
				font-size:0.14rem;
				color:$itemNameColor;
				padding-top: 0.15rem;
			
			}
			&:before{
				content:'';
				height: 0.44rem;
				width: 1px;
				background: #e3e3e3;
				position: absolute;
				right: -1px;
				top: 0.37rem;

			}
		}
		.cell{
			box-sizing: border-box;
			width: $cellWidth;
			height: $cellHeight;
			
		}
		.cell:nth-child(4){
			border-right-width: 0px;
		}
		.row{
			display: flex;
			box-sizing: border-box;
		}
		.row:first-child{
			border-top-width: 0.5px;
		}
	}

}

.input{
	.el-input__inner{
		padding:0;
		height:0.24rem;
		font-size: $inputSize;
		color:$mainColor;
	}
	width: 100%;
	.title{
		// background:#37383b;
		background:$mainColor;
		color:#fff;
		// background:#dfdfdf;
		padding:0.13rem 0;
		font-size: 0.18rem;
		position: relative;
		position: fixed;
		// position: absolute;
		top:0;
		left: 0;
		z-index: 9999999;
		width: 100%;
		line-height: 1;
		.edit-input{
			position: absolute;
			color:#ebecef;
			right: 0.1rem;
			text-decoration: underline;
			bottom: 0;
			font-size: 0.16rem;
			font-weight: normal;
			line-height: 0.4rem;
		}
	}

	.sub-title{
		font-size: 0.16rem;
		line-height: 1;
		color:#888888;
		padding: 0.1rem 0;
		padding-left: 0.15rem;
		text-align: left;
		background:#ccc;

	}
	// .input .container .unordered-list .el-icon-arrow-right
	.container{
		background:#fff;
		width: 100%;
		position: relative;
		margin: 0 auto;
		margin:0.08rem 0 0.08rem 0;
		.unordered-list{
			font-size: 0.16rem;
			position: relative;
			text-align: left;
			height: 0.36rem;
			line-height: 0.36rem;
			border: 0px solid #efeff4;
			border-top-width: 1px;
			padding-left: 0.1rem;
			margin-left: 0.15rem;
			&:first-child{
				border-top-width: 0px;
			}
			.el-icon-arrow-right{
				font-size: 0.16rem;
				position: absolute;
				right: 0.15em;
				bottom: 0.10rem;
				color: #969696;
			}
		}
		.wraper{
			position: relative;
			margin: 0 0.15rem;
			font-size: $inputFontSzie;
			padding:0.05rem 0;
			border: 0px solid $underlineColor ;
			border-bottom-width: 1px;
			overflow:hidden;
			text-align: left;

			// text-align: right;
			label{
				// width: 25%;
				letter-spacing: -0.01rem;
				// width: 100%;
				// padding: 0.05rem 0;
				white-space: nowrap;
				// text-overflow: ellipsis;
				overflow:hidden;
				font-size: 0.13rem;
				// height: $labelHeight;
				line-height:1 ;
				display: block;
				color:#000000;
				// padding-left: 0.05rem;
				text-align: left;
				margin:0.05rem 0;
				text-align: left;
				width: 100%;	
				// position: absolute;
				// left: 0;
			}

		}
		.wraper:last-child{
			// border-bottom-width: 0px;
		}
		.wraper>div.el-input,.wraper>div.el-select,.wraper>.el-textarea{// > is !!
			width: 100%;
			// margin-left: 25%;
			// border:0px;
		}
		.el-input,.el-select,.el-textarea{
			.el-input__inner,.el-textarea__inner{
				border:0px;
			}
			.el-input__inner{
				// padding:0.03rem 0.1rem;
				// padding-right: 0.5rem;
			}
			
		}
	}
	.wraper{
		.el-icon-check{
			display:none;
			// background:$validColor;
			// color:white;
			// border-color: $validColor;
			// &:before{
			// 	padding-right: 0.04rem;
			// 	padding-top: 0.01rem;
			// }
		}
		.el-icon-close{
			display:none;
			// background:$errColor;
			// color:white;
			// border-color: $errColor;
			// &:before{
			// 	padding-top: 0.01rem;
			// }
		}
		.el-select{
			width: 100%;
			display:inline-block;
		}
		.el-iput{
			// font-size: $inputFontSzie;
			border:0px;
			.el-input__inner{
				// height: $inputHeight;
				font-size: $inputFontSzie;

			}
			-webkit-tap-highlight-color:rgba(191,203,217,0.25);
			transition: 0.5s cubic-bezier(0.09, 0.7, 0.4, 0.93);
			&:active{
				background-color:rgba(191,203,217,0.25);
			}
		}
	
	}
	//select style
	//change element UI default style
	// .wraper .el-input .el-input__inner{
	// 	font-size: $inputFontSzie;
	// 	height: $inputHeight;
	// }
	.el-select .el-input .el-input__icon{
		display:none;
	}
	.validate{
		i{
			opacity: 0.9;
		}
		.valid-border{
			.el-input__inner{
				// border-color:$validColor;
				color:$mainColor;
			}
		}
		.error-border{
			.el-input__inner{
				// border-color: $errColor;

				&::-webkit-input-placeholder,  { 
					color:    $errColor;
				}
				&:-moz-placeholder, { 
					color:    $errColor;
				}
				&::-moz-placeholder, { 
					color:    $errColor;
				}
				&:-ms-input-placeholder,  { 
					color:    $errColor;
				}
				&:focus{
					color:$typingColor;
				}
				color:$errColor;
			}
		}
	}
}

.input{
	.el-button+.el-button{
		margin-left:0
	}
	.el-input.is-disabled .el-input__inner {
		background-color: #fff;
		border-color: #fff;
		color: $disabledColor;
		// opacity:0.7;
		cursor: not-allowed;
		
	}
	.el-button--success.is-disabled, .el-button--success.is-disabled:focus, .el-button--success.is-disabled:hover{
		color: #dbf4db;
		cursor: not-allowed;
		// background-image: none;
		background-color: $successDisabledColor;
		border-color: $successDisabledColor;
	}
	.el-button--success, .el-button--success:focus, .el-button--success:hover{
		color: #fff;
		cursor: not-allowed;
		// background-image: none;
		background-color: $mainColor;
		border-color: $mainColor;
	}
	.el-button--danger,.el-button--danger:focus,.el-button--danger:hover{
		background:#e94f4f;
		border-color:#e94f4f;
	}
	.el-button--warning,.el-button--warning:focus, .el-button--warning:hover{
		color: #fff;
		background-color: #ffbe00;
		border-color: #ffbe00;
	}	
	.el-button--warning.is-disabled, .el-button--warning.is-disabled:focus, .el-button--warning.is-disabled:hover{
		color: #f4efdb;
		cursor: not-allowed;
		// background-image: none;
		background-color: #fbdf8c;
		border-color: #fbdf8c;
	}
	.el-button{
		padding:0.1rem 0.15rem;
		font-size:$inputFontSzie;
		height: 0.44rem;
		width: 90%;
		margin-top:0.15rem;
	}
	.el-checkbox__input.is-checked .el-checkbox__inner{
		background-color: $successColor;
		border-color: $successColor;
	}
	.el-checkbox+.el-checkbox{
		margin-left: auto;
		margin-right:auto;
	}
	.el-checkbox{
		display:block;
		width: 80%;
		margin:0.05rem auto;
		// margin:0 auto;
		// margin:0.1rem;
		text-align: left;
	}
}

div.el-loading-mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background:transparent;
	.el-loading-spinner{
		background:rgba(0,0,0,0.4);
			// border:1px solid red;
			position: absolute;
			height: 1.2rem;
			width: 1.2rem;
			top:0;bottom: 0;left: 0;right: 0;
			margin:auto;
			border-radius: 0.06rem;
			.circular{
				margin-top:0.3rem;
			}
			.path{
				stroke:#fff;
			}
			.el-loading-text{
				color:#fff;
				font-size: 0.14rem;
				margin-top: 0.1rem;	
				// position: absolute;
				// margin:0;
				// bottom: 0.18rem;
				// text-align: center;
			}
		}
	}


//子组件存在top navigator
.router-view{
	position: absolute;
	top: 0;left: 0;
	right: 0;bottom: 0;
	width: 100%;
	.sub-top-nav{
		position: absolute;
		top: 0;
		z-index: 99;
		.tabs-container{
			display: flex;
			*{
				border:1px solid red;
			}
			.tab{
				width: 100%;
				height: 0.5rem;
				background: #fafafa;
				color:#353535;
				font-size: 0.16rem;
				line-height: 0.5rem;
				border:0px #cccccc solid;
				border-bottom-width: 1px;
				border-left-width: 1px;
				&:first-child{
					border-left-width: 0px;
				}
			}
			.active{
				background: #eaeaea;
			}
		}
	}
	.sub-router-view-container{
		overflow: scroll;
		position: absolute;
		left: 0;right: 0;
		top: 0;bottom: 0;
		width: 100%;
		margin-top: 0.9rem;
	}
}

//loan bill
.shadow-box{
	width: 3.45rem;
	/*height: 2.8rem;*/
	border-radius: 6px;
	position: relative;
	margin: 0 auto;
	margin-top: 0.26rem;
	background-color: #ffffff;
	box-shadow: 0 4px 16px 0 rgba(153, 153, 153, 0.38);
	overflow:hidden;
	// margin-bottom: 0.15rem;
}
img.audit-icon{
	height: 0.33rem;
	margin: auto;
	margin-top: 0.22rem;
	margin-bottom: 0.15rem;
	display:block;
}
img.approved{
	height:0.51rem;
}
h2.title-approved{
	font-size: 0.19rem;
	font-weight: bold;
	color: $mainColor;
	margin-bottom:0.2rem;
}
p.audit-title{
	font-size: 0.19rem;
	font-weight: bold;
	color:#383838;
	line-height: 1;
}
p.audit-remind{
	margin-top: 0.1rem;
	font-size:0.14rem;
	color: #999999;
}
div.audit-remark-box{

	width: 2.8rem;
	background-color: #f3f3f3;
	margin: 0 auto;
	margin-top: 0.2rem;
	margin-bottom: -0.1rem;
	min-height: 1rem;
	border-radius: 0.05rem;
	position: relative;
	div.amount-box{
		// width: 1.7rem;
		display:inline-block;
		height:1rem;
		// left: 0;right: 0;
		// margin: 0 auto;
		background:#f3f3f3;
		position: relative;
		top:0.5rem;
		// border:1px solid red;
		padding:0 0.14rem;
		.amount-box-inner{
			// border:1px solid red;
		}
		.quota-amount-qty{
			display:inline-block;
			font-size: 0.34rem;
			font-weight: 500;
			text-align: left;
			color: $mainColor;
			line-height: 1;
			.unit{
				font-size: 0.19rem;
			}
		}
		.quota-amount-title{
			// display:inline-block;
			font-size: 0.14rem;
			text-align: left;
			color: #999999;
			line-height: 1;
			margin-bottom: 0.05rem;
		}
	}
}
label.quota-clause{
	display:block;
	margin:0 0.15rem;
	text-align: left;
	font-style: 0.14rem;
	color:#999999;
	.clause{
		color:$mainColor;
	}
	.el-checkbox__inner{
		border-radius: 50%;
	}
}
div.quota-amount{
	height:1.5rem;
}
div.audit-remark{
	padding: 0.24rem;

}
div.bg-strip{
	width: 100%;
	border:1px solid $mainColor;
	border-width: 1px 0px;
	height:15px;
	position: absolute;
	top:0.8rem;
	&:after{
		content:'';
		width: 100%;
		height:0px;
		border:0px solid $mainColor;
		border-bottom-width: 1px;
		position: absolute;
		top:6px;
		left:0;


	}
}
span.remark-head{
	color:#999999;
}
p.audit-remark{
	text-align: left;
	font-size: 0.14rem;
	line-height: 1.5;
	color: $mainColor;

}

// introduce
#introduceVue{
	height:100%;
	background:#f3f3f3;
	.bg-introduce{
		width: 100%;
		height:2rem;
		position: absolute;
		top:0;
		z-index:0;
		background:$mainColor;
	}
	.logo-box{
		// background-clip
		width: 100%;
		height:0.58rem;
		background:#1f519c;
		// -webkit-mask-image:url('./../../src/assets/xh/logo.png');
		// mask-repeat:no-repeat;
		// mask-image:url('./../../src/assets/xh/logo.png');
	}
	.intro{
		position: relative;
		margin-top: 0.15rem;
		.intro-line{
			text-align: center;
			color:#fff;
			font-size: 0.14rem;
			line-height: 1.5;
		}

		&:after,&:before{
			color:#fff;
			position: absolute;
			font-size: 0.4rem;
			font-weight: bolder;
		}
		&:after{
			content:'“';
			left: 0.18rem;
			top: -0.1rem;
		}
		&:before{
			content:'”';
			position: absolute;
			right:0.18rem;
			bottom:-0.24rem;
		}
	}
	.contact-box{
		padding-bottom: 0.15rem;
		.contact-title{
			border:0px solid #d3d3d3;
			border-bottom-width: 1px;
			line-height: 0.35rem;
			text-align: left;
			color:$mainColor;
			padding:0 0.4rem;
			font-size: 0.16rem;
			font-weight: normal;
			.icon{
				position: absolute;
				left:0.18rem;
				top: 0.09rem;
				// line-height: 0.35rem;
			}
		}
		.contact-items{
			padding:0.15rem 0.2rem;
			.contact-item{
				font-size: 0.13rem;
				color:#7e7e7e;
				line-height: 1.6;
				text-align: left;

			}
		}
		.qq-group{
			width: 3.1rem;
			height: 0.33rem;
			border-radius: 0.03rem;
			background:$mainColor;
			margin: 0 auto;
			position: relative;
			.line{
				position: absolute;
				top:0;bottom: 0;left: 0;right: 0;
				margin:auto;
				height:1px;
				width: 1.83rem;
				background:#fff;
				border-radius: 50%;
				z-index:0;
			}
			.text-box{
				position: absolute;
				width: 100%;
				height:100%;
				// background:#ccc;
			}
			.text{
				color:#fff;
				font-size: 0.13rem;
				line-height: 0.33rem;
				background:$mainColor;
				padding:0 0.1rem;
				z-index:2;
			}
		}
	}
	.download-box{
		// border:1px solid red;
		margin:0.2rem 0.15rem;
		display:flex;
		justify-content:space-between;
		.download-app{
			text-decoration: none;
			width:1.65rem;
			height:0.5rem;
			border-radius: 10px;
			background-color: #ffffff;
			box-shadow: 0 5px 16px 0 rgba(134, 134, 134, 0.26);
			color:$mainColor;
			padding-left: 0.3rem;
			position: relative;
			.download-text{
				font-size: 0.14rem;
				line-height: 0.5rem;
			}
			.platfor-icon{
				font-size: 0.25rem;
				display:inline-block;
				position: absolute;
				left: 0.16rem;
				top:0;
				bottom: 0;
				margin:auto 0;
				height:0.22rem;
			}
			.icon-apple{
				margin-bottom: 0.18rem;
			}
			.android{
				color:#86c127;
			}
		}
	}
	.log-bttn{
		margin-top: 0.4rem;
		width: 3.45rem;
		height: 0.4rem;
		border-radius: 8px;
		background-color: #ffffff;
		border: solid 1px #f35454;
		font-size: 0.16rem;
		color: #f35454;
	}
	.login{
		border: solid 1px $mainColor;
		color: $mainColor;
	}
}

.horizontal-input-box:last-child{
	border-bottom-width: 0px;
}
.horizontal-input-box{
	margin-left: 0.15rem;
	border:0px solid #c3c3c3;
	border-bottom-width: 1px;
	position: relative;
	height: 0.5rem;
	.horizontal-label{
		font-size: 0.14rem;
		display:block;
		position: absolute;
		left: 0;top:0;
		width:25%;
		height: 100%;
		text-align: left;
		color: #363636;
		line-height: 0.5rem;
	}
	.horizontal-text{
		color:$mainColor;
		font-weight: bold;
		font-size: 0.14rem;
		margin-left: 25%;
		text-align: right;
		line-height: 0.5rem;
		padding-right: 0.15rem;
	}
	.horizontal-input{
		color:$mainColor;
		font-weight: bold;
		font-size: 0.14rem;
		margin-left: 25%;
		text-align: right;
		line-height: 0.5rem;
		padding-right: 0.15rem;
		width:75%;
		border:0;
		height: 100%;
		.el-input__inner{
			border:0;
			text-align: right;
			padding:0;
			font-size: 0.16rem;
			height: 100%;
		}
	}
}
#loanDealVue{
	.container{
		background:#fff;
		margin-bottom: 0.15rem;
	}

	// .price-box{
	// 	margin-left: 0.15rem;
	// 	border:0px solid #c3c3c3;
	// 	border-bottom-width: 1px;
	// 	position: relative;
	// 	height: 0.5rem;
	// 	.amount-label{
	// 		font-size: 0.14rem;
	// 		display:block;
	// 		position: absolute;
	// 		left: 0;top:0;
	// 		width:50%;
	// 		height: 100%;
	// 		text-align: left;
	// 		color: #363636;
	// 		line-height: 0.5rem;
	// 	}
	// 	.amount{
	// 		color:$mainColor;
	// 		font-weight: bold;
	// 		font-size: 0.14rem;
	// 		margin-left: 50%;
	// 		text-align: right;
	// 		line-height: 0.5rem;
	// 		padding-right: 0.15rem;
	// 	}
	// 	.custom-pay{
	// 		color:$mainColor;
	// 		font-weight: bold;
	// 		font-size: 0.14rem;
	// 		margin-left: 50%;
	// 		text-align: right;
	// 		line-height: 0.5rem;
	// 		padding-right: 0.15rem;
	// 		width:50%;
	// 		border:0;
	// 		height: 100%;
	// 		.el-input__inner{
	// 			border:0;
	// 			text-align: right;
	// 			padding:0;
	// 			font-size: 0.16rem;
	// 			height: 100%;
	// 		}
	// 	}
	// }
	.total-price{
		.amount-label{
			color: #999999;
		}
		.amount{
			color:#999999;
		}
	}
	.amount-emphasis{
	  font-size: 0.4rem;
	}
	.description{
		margin: 0.15rem;
		// text-align: left;
	}
}

// foot navigation
$navColor:#8f8e94;
$navHeight:0.44rem;
$navBackground:#fff;

.foot-nav{
	width: 100%;
	background: $navBackground;
	position: absolute;
	height: $navHeight;
	bottom: 0;
	display: flex;
  border: 0px solid #d3d3d3;
  border-top-width: 1px;
  .nav-btn{
  	-webkit-tap-highlight-color: transparent;
  	width: 50%;
  	height: 100%;
  	text-decoration: none;
  	display: inline-block;
  	position: relative;
  	font-size: 0.16rem;
  	vertical-align: center;
  	line-height: $navHeight;
  	color: $navColor;
  	*{
  	}
  	.nav-icon{
  		width: 30%;
  		margin: 0.05rem auto 0;
  		font-size: 0.2rem;
  		line-height: 1;
  	}
  	.nav-item{
  		font-size: 0.12rem;
  		line-height: 1.1;
  	}
  	.icon{
  		width: 0.12rem;
  	}
  }
  .active{
  	color:$mainColor;
  }
}

// app
// 
#app {
	position: absolute;
	top: 0;bottom: 0;
	width: 100%;
	overflow: hidden;
	left: 0;right: 0;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	padding-bottom: 0.65rem;
	background: #fff;
	z-index: 9;
}
.router-view-container{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	background:#f3f3f3;
}
.show-foot{
	margin-bottom: 0.44rem;

}

#index0Vue,#indexVue{
	height: 100%;
	background: $indexBackgroundColor;
}

//transition
.back-enter-active,.forward-enter-active,.samelevel-enter-active{
	transition: transform 3s;
}
.back-leave-active,.forward-leave-active{
	transition: transform 3s;
	position: absolute;
	// top:0;
}
.samelevel-leave-active{
	// transition: transform 3s;
}
.back-enter {
	transform: translateX(-100%);
}
.back-leave-to{
	transform: translateX(100%);
}
.forward-enter {
	transform: translateX(100%);
}
.forward-leave-to{
	transform: translateX(-100%);
}
// .samelevel-leave-to{
// 	transform:scale(200%)
// }

.samelevel-enter{
	// transform-origin:center center;
	// transform:scale(0)
}