@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ubmg0b');
  src:  url('fonts/icomoon.eot?ubmg0b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ubmg0b') format('truetype'),
    url('fonts/icomoon.woff?ubmg0b') format('woff'),
    url('fonts/icomoon.svg?ubmg0b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-test .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-test .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(25, 79, 130);
}
.icon-test .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(92, 186, 234);
}
.icon-test .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 193, 13);
}
.icon-test .path5:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(92, 186, 234);
}
.icon-test .path6:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(25, 79, 130);
}
.icon-test .path7:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(25, 79, 130);
}
.icon-debt .path1:before {
  content: "\e924";
  color: rgb(37, 36, 52);
}
.icon-debt .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-debt .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-profile .path1:before {
  content: "\e927";
  color: rgb(37, 36, 52);
}
.icon-profile .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-profile .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-job_info .path1:before {
  content: "\e92a";
  color: rgb(37, 36, 52);
}
.icon-job_info .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-job_info .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-contact .path1:before {
  content: "\e92f";
  color: rgb(37, 36, 52);
}
.icon-contact .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-identify .path1:before {
  content: "\e931";
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-identify .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(37, 36, 52);
}
.icon-identify .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-upload-id .path1:before {
  content: "\e934";
  color: rgb(37, 36, 52);
}
.icon-upload-id .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-shujumohe .path1:before {
  content: "\e936";
  color: rgb(37, 36, 52);
}
.icon-shujumohe .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-zhima .path1:before {
  content: "\e938";
  color: rgb(37, 36, 52);
}
.icon-zhima .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-zhima .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-zhima .path4:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(37, 36, 52);
  opacity: 0.18;
}
.icon-icon-audit:before {
  content: "\e912";
}
.icon-icon-back:before {
  content: "\e913";
}
.icon-icon-close:before {
  content: "\e914";
}
.icon-icon-code:before {
  content: "\e915";
}
.icon-icon-contact-way:before {
  content: "\e916";
}
.icon-icon-entry:before {
  content: "\e917";
  color: #5057a4;
}
.icon-icon-fee:before {
  content: "\e918";
}
.icon-icon-help:before {
  content: "\e919";
}
.icon-icon-id:before {
  content: "\e91a";
}
.icon-icon-identification:before {
  content: "\e91b";
}
.icon-icon-index:before {
  content: "\e91c";
}
.icon-icon-loan-bill:before {
  content: "\e91d";
}
.icon-icon-me:before {
  content: "\e91e";
}
.icon-icon-phone:before {
  content: "\e91f";
}
.icon-icon-pic:before {
  content: "\e920";
}
.icon-icon-refresh:before {
  content: "\e921";
  color: #505151;
}
.icon-brand:before {
  content: "\e911";
  color: #999;
}
.icon-android2:before {
  content: "\e90f";
}
.icon-input-checked:before {
  content: "\e90d";
}
.icon-apple:before {
  content: "\e910";
}
.icon-android:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e902";
}
.icon-home3:before {
  content: "\e903";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-wechat:before {
  content: "\e909";
}
.icon-clipboard-checked:before {
  content: "\e90a";
}
.icon-document-checked:before {
  content: "\e90b";
}
.icon-document-edit:before {
  content: "\e90c";
}
.icon-lock:before {
  content: "\e904";
}
.icon-phone2:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-banknote:before {
  content: "\e907";
}
.icon-data:before {
  content: "\e908";
}
