@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x6tgi2');
  src:  url('fonts/icomoon.eot?x6tgi2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x6tgi2') format('truetype'),
    url('fonts/icomoon.woff?x6tgi2') format('woff'),
    url('fonts/icomoon.svg?x6tgi2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobao .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-taobao .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-audit:before {
  content: "\e902";
}
.icon-icon-back:before {
  content: "\e903";
}
.icon-icon-close:before {
  content: "\e904";
}
.icon-icon-code:before {
  content: "\e905";
}
.icon-icon-contact-way:before {
  content: "\e906";
}
.icon-icon-entry:before {
  content: "\e907";
  color: #5057a4;
}
.icon-icon-fee:before {
  content: "\e908";
}
.icon-icon-help:before {
  content: "\e909";
}
.icon-icon-id:before {
  content: "\e90a";
}
.icon-icon-identification:before {
  content: "\e90b";
}
.icon-icon-index:before {
  content: "\e90c";
}
.icon-icon-loan-bill:before {
  content: "\e90d";
}
.icon-icon-me:before {
  content: "\e90e";
}
.icon-icon-phone:before {
  content: "\e90f";
}
.icon-icon-pic:before {
  content: "\e910";
}
.icon-icon-refresh:before {
  content: "\e911";
  color: #505151;
}
